.activeMenu{
    color: #217f60;
}

.activeMenu>span{
    font-weight: 500;
}

.footer{
    justify-content: center;
    background: #55ac8f;
    color: white;
    position: relative;
    z-index: 1201;
    height: 50px;
    align-items: center;
}